{{ if site.Data.homepage.listanozze.enable }}
{{ with site.Data.homepage.listanozze }}
<section id="lista-nozze">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <img class="img-responsive mx-auto" src="{{ .image | absURL }}" alt="{{ .title }}" />
          <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">{{ .title | markdownify }}
          </h1>
          <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">{{ .description | safeHTML }}</p>
		  </div>
		  <div class="timeline"> 
			  <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
				<div class="timeline__event__icon__noanimation">
					<i class="fa-solid fa-building-columns"></i>
					  
				</div>
				<div class="timeline__event__content">
				  <div class="timeline__event__title">
				  </div>
				  <div class="timeline__event__description">
					{{ .iban_description | safeHTML }}
				  </div>
				</div>
			  </div>
			  
			  <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
				
				<a href="https://gofundme.com/f/lista-nozza-di-maria-e-nicola" target="_blank">
					<div class="timeline__event__icon__noanimation ">
					  <i class="fa-solid fa-hand-holding-dollar"></i>
						
					  
					</div>
				</a>
				<div class="timeline__event__content">
				  <div class="timeline__event__title">
				  </div>
				  <div class="timeline__event__description">
					{{ .gofund_description | safeHTML }}
				  </div>
				</div>
			  </div>
		  </div>
		  <!--
			<div class="col-md-1"></div>
			<div class="col-md-5 lista_nozze-payment_box">
				<div class="lista_nozze-payment_icon">
					<div class="timeline__event__icon ">
					  <i class="fa-solid fa-building-columns"></i>
						
					</div>
				</div>
				<div class="lista_nozze-payment_text">
					<p>{{ .iban_description | safeHTML }}</p>
				</div>
			</div>
			<div class="col-md-5 lista_nozze-payment_box">
				<div class="lista_nozze-payment_icon">
					<a href="https://gofundme.com/f/lista-nozza-di-maria-e-nicola" target="_blank"></a><div class="timeline__event__icon ">
					  <i class="fa-solid fa-hand-holding-dollar"></i>
						
					</div>
				</div>
				<div class="lista_nozze-payment_text">
					<p>{{ .gofund_description | safeHTML }}</p>
				</div>
			</div>
			<div class="col-md-1"></div>-->
    </div>
  </div>
</section>
{{end}}
{{end}}

