{{ if site.Data.homepage.timeline.enable }}
{{ with site.Data.homepage.timeline }}
<section id="timeline" {{ if site.Data.homepage.timeline.overlay }} class="overlay" {{ end }}
	style="background-image: url('{{ site.Data.homepage.timeline.bg_image | absURL }}');">
	<div class="timeline"> 

	  <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
		<a href="https://goo.gl/maps/oPjwFgJypZxuKfTZ9" target="_blank">
			<div class="timeline__event__icon ">
			  <i class="fa-solid fa-church"></i>
				
			  
			</div>
		</a>
		<div class="timeline__event__date">
		  16:30
		</div>
		<div class="timeline__event__content ">
		  <div class="timeline__event__title">
			
			<a href="https://goo.gl/maps/oPjwFgJypZxuKfTZ9" target="_blank">Chiesa di S. Rocco</a>
		  </div>
		  <div class="timeline__event__description_nomobile">
			<p><i class="fa-solid fa-map-location-dot"></i><b style="margin-left: 5px">Dove: </b><a href="https://goo.gl/maps/oPjwFgJypZxuKfTZ9" target="_blank">Piazza San Rocco</a></p>
			
			<br>
			<p>La chiesa di San Rocco affaccia sull'omonima piazza, che prosegue sulla <i>Via Panoramica</i> di Scilla. Il parcheggio non sarà un problema per i più puntuali, agli altri l'ardua ricerca!</p>
		  </div>
		</div>
	  </div>
	  
	  <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
		<a href="https://g.page/Altafiumara?share" target="_blank">
			<div class="timeline__event__icon">
			<i class="fa-solid fa-champagne-glasses"></i>
			  
			</div>
		</a>
		<div class="timeline__event__date">
		  19:00
		</div>
		<div class="timeline__event__content">
		  <div class="timeline__event__title">
			<a href="https://g.page/Altafiumara?share" target="_blank">Alta Fiumara Resort</a>
		  </div>
		  <div class="timeline__event__description_nomobile">
			<p><i class="fa-solid fa-map-location-dot"></i><b style="margin-left: 5px">Dove: </b><a href="https://g.page/Altafiumara?share" target="_blank">Via Petrello snc, Loc. Santa Trada di Cannitello, 89018 Villa San Giovanni RC</a></p>
			
			<p><br>A quindici minuti da Scilla...Altafiumara. Se non volete affidarvi a Google, l'irreprensibile pilone vi mostrerà la strada.</p>
		  </div>
		</div>
	  </div>
	  
	  <!--
	  <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
		<div class="timeline__event__icon">
		  <i class="fa-solid fa-utensils"></i>

		</div>
		<div class="timeline__event__date">
		  20:30
		</div>
		<div class="timeline__event__content">
		  <div class="timeline__event__title">
			Cena
		  </div>
		  <div class="timeline__event__description">
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
		  </div>

		</div>
	  </div>
	  
	  <div class="timeline__event animated fadeInUp timeline__event--type1">
		<div class="timeline__event__icon">
		  <i class="lni-cake"></i>

		</div>
		<div class="timeline__event__date">
		  20-08-2019
		</div>
		<div class="timeline__event__content">
		  <div class="timeline__event__title">
			Birthday
		  </div>
		  <div class="timeline__event__description">
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
		  </div>
		</div>
	  </div>-->

	</div>

</section><!-- #timeline close -->
{{end}}
{{end}}