{{ define "main" }}

{{ $sass := resources.Get "sass/timeline.scss" }}
{{ if $sass }}
{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
<script src="https://kit.fontawesome.com/68c5c8667a.js" crossorigin="anonymous"></script>

{{ end }}

{{ partial "hero-area.html" . }}

{{- partial "header.html" . -}}

{{ partial "timeline.html" . }}

{{ partial "gallery.html" . }}

{{ partial "about.html" . }}

{{ partial "blog.html" . }}

{{ partial "food-menu.html" . }}

{{ partial "subscription.html" . }}

{{ partial "contact.html" . }}

{{ end }}